.table_box{
    width:100%;
    height:1fr;
    background-color:#fff;
    border-radius:25px;
    overflow-y:auto;
    padding-top:5px;
}

/*
.table_box {
    height:330px;
}
*/

#table_data{
    width:100%;
}

#table_data th,#table_data td{
    text-align: center;
    padding:7px;
    font-size:16px;
    border-bottom:1px solid #eee;
    width:11%;
}

#table_data_order{
    width:100%;
}

#table_data_order th,#table_data_order td{
    text-align: center;
    padding:7px;
    font-size:16px;
    border-bottom:1px solid #eee;
    width:11%
}

.--bg--gray{
    background-color: gray;
}

.label_{
    margin-top:.5rem;
    vertical-align: middle;
}